body {
	background-image: url(bg.jpg);
	/*background-repeat: no-repeat;*/
	background-size: cover;
	font-family: arial;
}

.container {
	width: 600px;
	height: 500px;
	margin: 80px auto;
	position: relative;
	border-radius: 50px;
	/*background-color: #66acbc;*/
	/*background-color: white;*/
	box-sizing: border-box;
	box-shadow: 0 0 34px 4px black;
}

.sideform {
    width: 300px;
    height: 100%;
    float: left;
    padding: 5px;
    position: relative;
    box-sizing: border-box;
    background-image: url(bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: -206px 0px;
  	border-top-left-radius: 50px;
	border-bottom-left-radius: 50px;
}

.conten {
	border-top-left-radius: 50px;
	border-bottom-left-radius: 50px;
	background-color: rgba(0,0,0,.5);
	height: 500px;
	position: absolute;
	top: 0;
	left: 0;
}

.sideform h1 {
	text-align: center;
	color: white;
	top: 70px;
	position: relative;
}

.sideform p {
	font-size: 11px;
    padding: 35px;
    color: white;
    top: 126px;
    position: relative;
}

.mainform {
    width: 300px;
    float: right;
    background-color: black;
    height: 500px;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    background-color: rgba(50 50 50 / 60%);
    padding: 10px;
	box-sizing: border-box;
}

.judul, table {
	color: white;
}

.judul h1 {
	text-align: center;
	margin-top: 84px;
}



.mainform table {
	margin-top: 76px;
}

.mainform table td {
	padding-top: 20px;
}


#username, #password {
	width: 220px;
    border-top: 0;
    border-bottom: 1px solid white;
    border-left: 0;
    border-right: 0;
    background: none;
    margin-left: 16px;
    color: white;
    padding: 10px;
}


#username::placeholder {
	text-align: center;
	color: white;
	background: none;
}

#password::placeholder {
	text-align: center;
	color: white;
	background: none;
}

button {
	background: none;
	width: 100px;
	height: 30px;
	color: white;
	padding: 20px;
	border-radius: 30px;
	border: 1px solid white;
	font-weight: bold;
	margin-top: 20px;
	margin-left: 85px;
	line-height: 0px;
}

button a {
	font-size: 13px;
	text-decoration: none;
	color: white;

}

.daftar {
	margin-top: 20px;
}

.daftar a {
	text-align: center;
	color: lightblue;
	text-decoration: none;
	font-size: 13px;
	margin-left: 78px;
}

.copyright {
    position: absolute;
    left: -347px;
    bottom: -74px;
}

.copyright a {
	text-decoration: none;
	color: white;
	font-size: 13px;
}